.header {
  height: 11.1rem;
  background-image: url(../images/FOTO-ACO.png);
  background-position-x: -4.9rem;

  margin-bottom: 10.0rem;
}

.stickers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.6rem;

  margin-bottom: 12.8rem;
}

.wrapper svg,
.balance-photo img,
.hammer-photo img {
  display: none;
}

.background-tittle {
  background-color: var(--cc-orange-primary);

  width: 24.4rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.background-tittle h2 {
  font-family: var(--ff-font-title);
  font-size: 6.4rem;
  line-height: 6.4rem;
  font-weight: 100;
  letter-spacing: -0.02em;

  text-align: center;
}

.text p,
.text ul {
  font-family: var(--ff-font-ezra-light);
  font-size: 1.3rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
}

.text p {
  width: 33.7rem;
  margin: 0 auto 10.0rem;
}

.text ul {
  width: 29.8rem;
  margin: 0 auto 16.0rem;
}

@media (min-width: 1000px){
  
  header {
    background-color: #FFFFFF;
  }
  
  .header svg,
  .wrapper svg,
  .balance-photo img,
  .hammer-photo img {
    display: block;
  }

  .header {
    background-image: url(../images/header-page-aco.png);
    background-position-x: 0;
    height: 24.0rem;

    /* margin-bottom: 13.5rem; */
  }

  .soft-line {
    margin-bottom: 5.3rem;
  }

  .acting {
    margin-bottom: 30.0rem;
  }

  .stickers {
    flex-direction: row;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10.0rem;

    margin-bottom: 21.8rem;
  }

  .group {
    display: flex;
    justify-content: space-between;
  }
  
  .text p,
  .text ul {
    line-height: 2.5rem;
    font-size: 1.4rem;
  }

  .background-tittle {
    position: absolute;
  }

  #tittle-1 {
    left: 15.2rem;
    top: 111.5rem;
  }

  .orange-line {
    border: 3px solid var(--cc-orange-primary);
    border-radius: 2px;

    background-position-x: 35.0rem;

    width: 30.7rem;
  }

  .group .text p {
    position: absolute;
    top: 123.1rem;
    left: 15.2rem;

    width: 47.9rem;
  }

  .balance-photo img {
    position: absolute;
    right: 0;
    top: 111.6rem;
  }

  .hammer-photo img {
    position: absolute;
    left: 0;
    top: 251.1rem;
  }

  .group .text ul {
    position: absolute;
    left: 64.2rem;
    top: 249.4rem;

    width: 43.0rem;
  }

  #tittle-2 {
    left: 64.2rem;
    top: 237.5rem;  
  }
}