.header {
  height: 11.1rem;
  background-image: url(../images/TEATRO-AMAZONAS.png);
  background-position-x: -9.0rem;
  background-size: cover;
  margin-bottom: 10.0rem;
}

.acting {
  margin-bottom: 12.8rem;
}

.stickers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.6rem;
  margin-bottom: 1.6rem;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sticker:hover {
  transform: scale(1.10, 1.10);
  transition: 200ms;
}

.wrapper svg,
.balance-photo img,
.hammer-photo img {
  display: none;
}

.group:nth-child(1) {
  margin-bottom: 9.0rem;
}

.background-tittle {
  width: 24.4rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.background-tittle h2 {
  font-family: var(--ff-font-bebas-light);
  font-size: 6.4rem;
  line-height: 6.4rem;
  font-weight: 100;
  letter-spacing: -0.02em;

  text-align: center;

  background-color: var(--cc-orange-primary);
}

.text p,
.text ul {
  font-family: var(--ff-font-ezra-light);
  font-size: 1.3rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  text-align: justify;
}

.text p {
  width: 33.7rem;
  margin: 0 auto 2.0rem;

  text-indent: 2em;
}

.text p strong {
  font-family: var(--ff-font-ezra-bold);
}

.text ul {
  width: 29.8rem;
  margin: 0 auto 16.0rem;
}

@media (min-width: 1000px){
  
  header {
    background-color: #FFFFFF;
  }
  
  .header svg,
  .hammer-photo img {
    display: block;
  }

  .header {
    background-position-x: 0;
    height: 24.0rem;

    /* margin-bottom: 13.5rem; */
  }

  .soft-line {
    margin-bottom: 5.3rem;
  }

  .acting {
    margin-bottom: 30.0rem;
  }

  .stickers div {
    flex-direction: row;
    margin-bottom: 3.0rem;
    gap: 3.4rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10.0rem;

    margin-bottom: 21.8rem;
  }

  .background-tittle {
    margin-bottom: 4.6rem;
  }

  .balance-photo {
    width: 74.6rem;
    height: 118.3rem;
    float: right;
  }

  .hammer-photo {
    height: 82.1rem;
    width: 70.1rem;
    float: left;
  }

  .balance-photo svg,
  .balance-photo img,
  .hammer-photo svg,
  .hammer-photo img,
  .text {
    display: inline-block;
    position: relative;
  }

  .text:nth-child(1) {
    left: 15.9rem;
  }

  .text:nth-child(2) {
    float: right;
    right: 15.9rem;
  }

  .balance-photo svg {
    right: -22.2rem;
  }

  .balance-photo img {
    top: -101.9rem;
  }

  .hammer-photo img {
    top: -62.0rem;
  }

  #tittle-2 {
    width: 100%;
  }

  #tittle-2 h2 {
    text-align: left;
    width: fit-content;
  }
  
  .text p,
  .text ul {
    width: 49.2rem;

    line-height: 2.5rem;
    font-size: 1.6rem;
    letter-spacing: -0.02em;

    margin: 0 0 2.0rem;
  }

  .text ul li  {
    margin-bottom: 1.1rem;
  }

  .orange-line {
    border: 3px solid var(--cc-orange-primary);
    border-radius: 2px;
  }

  .paragraphy {
    width: 47.9rem;
  }
}