
.header {
  background-image: url(../images/header-escritorio.png);
  height: 11.0rem;
  
  margin-bottom: 23.0rem;
}

.infos-about {
  display: flex;
  flex-direction: column;
  gap: 15.0rem;
}

.infos-about div:nth-child(2) {
  margin-bottom: 20.0rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.5rem;
}

.content p,
.content img {
  width: 80%;
}

.content p {
  font-family: var(--ff-font-ezra-light);
  font-size: 1.3rem;
  line-height: 3.0rem;
  letter-spacing: -0.02em;
  text-align: justify;
  text-indent: 4em;
}

.profile-cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.5rem;
  margin-bottom: 20.0rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  border-radius: 1.0rem;
  width: 30.2rem;
}

.profile-name {
  position: relative;
  top: -4.5rem;
  
  background-color: var(--cc-orange-primary);
  height: 16.3rem;
  width: 80%;
  border-radius: 5px;
}

@media (min-width: 1000px){
  header {
    background-color: #FFFFFF;
  }

  .header {
    background-image: url(../images/header-escritorio-desktop.png);

    height: 23.5rem;
  }
  
  .content {
    flex-direction: row;
    font-size: 1.4rem;
  }

  .content img,
  .content p {
    position: absolute;
    width: 49.7rem;
  }

  .content:nth-child(1) img {
    left: 65.1rem;
    top: 65.0rem;
  }

  .content:nth-child(1) p {
    left: 10.1rem;
    top: 72.4rem;
  }

  .content:nth-child(2) img {
    left: 15.3rem;
    top: 142.0rem;
  }

  .content:nth-child(2) p {
    left: 72.1rem;
    top: 149.2rem;
  }

  .acting {
    position: absolute;
    top: 233.0rem;

    width: 100%;
  }

  .profile-cards {
    flex-direction: row;
    justify-content: center;
  }

  .information-box {
    top: 338.6rem;
  }

  footer {    
    top: 377.5rem;
  }
}