
.header {
  background-image: url(../images/FOTO-ESCRITORIO.png);
  height: 11.0rem;
  
  margin-bottom: 23.0rem;
}

.infos-about {
  width: 80%;
  max-width: 179.0rem;
  margin: 0 auto 35.0rem;
}

.infos-about div {
  margin-bottom: 10.0rem;
}

.content img {
  width: 100%;
}

.content p {
  font-family: var(--ff-font-ezra-light);
  font-size: 1.3rem;
  line-height: 3.0rem;
  letter-spacing: -0.02em;
  text-align: justify;
  text-indent: 4em;
}

.profile-cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.5rem;
  margin-bottom: 20.0rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  max-width: 30.2rem;
}

.profile img {
  border-radius: 1.0rem;
  width: fit-content;
}

.profile-name {
  position: relative;
  top: -4.5rem;
  
  background-color: var(--cc-orange-primary);
  height: 16.3rem;
  width: 80%;
  border-radius: 5px;
}

@media (min-width: 1280px){
  header {
    background-color: #FFFFFF;
  }

  .header {
    height: 23.5rem;
  }

  .infos-about div {
    margin-bottom: 15.0rem;
  }

  .content {
    height: 65.1rem;
  }

  .content img,
  .content p {
    position: relative;
    display: inline-block;
    width: 49.7rem;
  }

  .content:nth-child(1) img {
    float: right;
  }

  .content:nth-child(1) p {
    top: 10.0rem;
  }

  .content:nth-child(2) p {
    float: right;
    top: 10.0rem;
  }

  .content:nth-child(2) img {
    top: 8.0rem;
  }

  .content p {
    font-size: 1.6rem;
  }

  .acting {
    width: 100%;
  }

  .profile-cards {
    flex-direction: row;
    justify-content: center;
  }

  .profile-photo {
    max-width: 30.9rem;
    max-height: 51.0rem;
  }

  .information-box {
    top: 338.6rem;
  }

  footer {    
    top: 377.5rem;
  }
}