.header {
  
  background-image: url(../images/maquina-de-datilografar.png);
  background-size: cover;
  background-position-x: -9.0rem;
  margin-bottom: 10.0rem;

  height: 11.1rem;
}

section.header::before {
  content: ' ';
  width: 100%;
  height: 11.1rem;

  background-color: #E56A0B;
  opacity: 0.1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 12.0rem;
  z-index: 0;

}

.soft-line {
  margin-bottom: 5.0rem;
}

.posts ul {
  width: 90%;
  max-width: 30.9rem;

  margin: 0 auto 13.0rem;
}

.posts ul li:hover {
  transform: scale(1.10, 1.10);
  transition: 300ms;
}

.posts ul li a {
  text-decoration: none;
  color: #000;
}

.previewPost {
  width: 30.9rem;
  background-color: var(--bc-postColor);

  border-radius: 1.5rem;

  height: 100%;
}

.previewContent-date {
  height: 20.9rem;
}

.date {
  display: flex;
  flex-direction: column;
  width: 3.2rem;

  border-radius: 3px;

  position:relative;
  top: -19.0rem;
  left: 2.3rem;
}

.day,
.month,
.year {
  height: 2.0rem;
  width: 100%;
  text-align: center;

  font-family: var(--ff-font-bebas-light);
}

.day {background-color: var(--cc-orange-primary); border-radius: 5px 5px 0 0;}
.month {background-color: var(--cc-orange-light);}
.year {background-color: var(--cc-orange-dark);}

.previewPost img {
  width: 100%;

  border-radius: 1.5rem 1.5rem 0 0;

  height: 21.2rem;
}

.previewPost h2 {
  font-family: var(--ff-font-bebas-light);
  font-size: 3.2rem;
  line-height: 3.9rem;
  letter-spacing: -0.02em;
  padding: 2.0rem 1.95rem 1.0rem;
}

.previewPost p {
  width: 27.0rem;

  font-family: var(--ff-font-ezra-light);
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: -0.02em;

  text-align: justify;
  text-indent: 2em;

  margin: 0 auto 2.05rem;
}

@media (min-width: 1280px){
  header {
    background-color: #FFFFFF;  
  }
  
  .header {
    height: 24.2rem;
    background-position-x: 0;

    margin-bottom: 14.0rem;
  }

  section.header::before {
    height: 24.2rem;
    top: 16.4rem;
  }

  .posts {
    margin-bottom: 35.7rem;
  }

  .posts ul {
    max-width: 97.5rem;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.0rem;
  }
}