section.top::before {
  content: ' ';
  width: 100%;
  height: 47.0rem;

  background-color: #E56A0B;
  opacity: 0.1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 12.0rem;
  z-index: 0;
}

main .top {
  background-image: url(../images/homePage/header-home.png);
  background-size: cover;
  background-position-x: -27.5rem;

  height: 47.0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-1 {
  position: absolute;
  top: 18.5rem;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;
}

.box-1 h1 {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;

  font-size: 5.5rem;
  font-weight: 100;
  line-height: 6.6rem;
  letter-spacing: -0.02em;
}

.box-1 h2 {
  font-family: 'Bebas Neue', sans-serif;

  font-size: 3.0rem;
  line-height: 3.6rem;

  letter-spacing: -0.02em;

  margin-top: 7.0rem;
  margin-bottom: 2.7rem;
}

.box-1 a {
  font-family: var(--ff-font-ezra-bold);
  font-size: 2.2rem;
  line-height: 2.5rem;
  text-decoration: none;


  padding: 0.9rem 1.5rem 0.5rem 1.5rem;
  border-radius: 8px;
  letter-spacing: -0.02em;

  background-color: var(--cc-orange-dark); 
  color: #FFFFFF;
}

.cards {
  display: flex;
  flex-direction: column;

  position: relative;
  top: -3.3rem;

  gap: 2.9rem;

  width: 33.0rem;

  margin: 0 auto;
}

.cards .card {
  padding: 1.6rem 2.9rem 1.1rem;
  
  border-radius: 2.5rem;
}

.cards div:nth-child(1) {
  background-color: var(--cc-orange-primary);
}
.cards div:nth-child(2) {
  background-color: var(--cc-orange-dark);
}
.cards div:nth-child(3) {
  background-color: var(--cc-orange-light);
}

.card img {
  position: relative;
  left: -1.3rem;
}

.card h2 {
  font-family: var(--ff-font-title);
  font-size: 4.2rem;
  line-height: 5.0rem;
  letter-spacing: -0.02em;
  font-weight: 100;
}


.card p {
  font-family: var(--ff-font-ezra-light);
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  margin-bottom: 0.8rem;
}

.welcome {
  max-width: 177.5rem;
  margin-bottom: 13.0rem;
}

.welcome img {
  width: 100%;

  margin-bottom: 6.0rem;
}

.welcome .office-photo {
  display: none;
}

.welcome-text h3 {
  color: var(--cc-orange-primary);

  font-family: var(--ff-font-title);
  font-size: 5.5rem;
  font-weight: 100;
  line-height: 6.6rem;
  
  letter-spacing: -0.02em;

  padding: 0 4.2rem;
  margin-bottom: 4rem;
}

.welcome-text p {
  font-family: var(--ff-font-ezra-light);
  font-size: 1.3rem;
  line-height: 3.0rem;
  letter-spacing: -0.02em;

  margin-bottom: 4.0rem;

  padding: 0 5.5rem 0 4.3rem;
}

.welcome-text p strong {
  font-family: var(--ff-font-ezra-bold);
}

.welcome-text a {
  font-family: var(--ff-font-ezra-bold);
  font-size: 2.0rem;
  text-decoration: none;
  line-height: 2.5rem;
  letter-spacing: -0.02em;

  padding: 0.8rem 2.2rem 0.5rem;
  border-radius: 5px;

  background-color: var(--cc-orange-dark);
  color: #FFFFFF;

  margin-left: 4.2rem;
}

.instagram {
  background-image: url(../images/insta-background.png);
  background-color: var(--cc-orange-primary);

  width: 100%;

  padding: 3.2rem;

  margin-bottom: 13.5rem;
}

.insta-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.insta-grid a img{
  width: 100%;
}

@media(min-width: 1280px){

  header {
    background: transparent;
  }

  section.top::before {
    top: 0;
    height: 72.0rem;
  }

  main .top {
    background-position-x: 0;
    height: 72.0rem;
    width: 100%;

    padding: 0;
    position: relative;
    top: -13.8rem;

    z-index: -10;
  }

  main .top .box-1,
  main .top a {
    display: none;
  }

  .cards {
    top: -20.3rem;

    flex-direction: row;
    justify-content: center;

    width: 100%;
    padding: 0 15.3rem;

    gap: 1.3rem;
  }

  .cards .card {
    width: 31.6rem;
  }

  .cards div:nth-child(1),
  .cards div:nth-child(3) {
    height: 36.6rem;
  }

  .cards div:nth-child(2) {
    height: 41.4rem;
  }

  .cards .card img {
    margin-bottom: .9rem;
  }

  .cards .card h2 {
    font-size: 3.27rem;
    margin-bottom: 1.4rem;
  }

  .cards .card p {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .welcome {
    margin: 0 auto 18.4rem;
    height: 153.3rem;
  }

  .welcome .theater-photo {
    position: relative;
    top: 102.8rem;

    display: inline-block;
    width: 67.9rem;
  }

  .welcome .office-photo {
    position: relative;
    top: 33.0rem;
    display: block;
    width: 57.1rem;

    float: right;
  }

  .welcome .welcome-text {
    position: relative;
    top: -50.0rem;
    left: 15.3rem;

    display: inline-block;
    width: 52.4rem;
  }

  .welcome img {
    margin-bottom: 0;
  }

  .welcome .welcome-text h3 {
    font-size: 6.4rem;
    line-height: 7.7rem;
    letter-spacing: -0.02em;

    padding: 0;

    height: 16.3rem;
    margin-bottom: 3.3rem;
  }

  .welcome .welcome-text p {
    font-size: 1.8rem;
    line-height: 3.2rem;

    margin-bottom: 0;
    padding: 0 5.5rem 2.0rem 0;
  }

  .welcome .welcome-text p:nth-child(3) {
    margin-bottom: 2.0rem;
  }

  .welcome .welcome-text a {
    font-family: var(--ff-font-ezra-bold);
    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;

    text-decoration: none;

    padding: 1.2rem 2.5rem;
    border-radius: 5px;
    background-color: var(--cc-orange-dark);
    color: #FFFFFF;

    margin: 0;
  }

  .grid-box {
    width: 100%;
  }

  #tittle-mobile {
    display: none;
  }

  .instagram {
    height: 57.0rem;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insta-grid {
    grid-template-columns:  36.7rem 18rem 36.7rem 18rem;
    grid-template-rows: 22.0rem 22.0rem;
  
    gap: 1.5rem;
  }

  .insta-grid a:nth-child(5) {
    grid-column-start: 4;
  }

  .insta-grid a:nth-child(6) {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .insta-grid a:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .insta-grid a:hover,
  .cards .card:hover {
    transform: scale(1.06, 1.06);
    transition: 200ms;
  }

  .instagram a {
    width: fit-content;
  }

  .insta-grid a:nth-child(6) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .newsletter {
    width: 100%;
  }
}