/* ########## start general styles ########## */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --cc-orange-primary: hsl(39, 93%, 52%);
  --cc-orange-dark: hsl(26, 91%, 47%);
  --cc-orange-light: hsl(34, 92%, 45%);
  --cc-green-primary: hsl(118, 39%, 25%);
  --cc-dark: 	hsl(0, 0%, 0%);
  --cc-grey: hsl(0, 0%, 16%);
  --cc-color-buttons: #297231;
  --cc-btn-submit-hover: hsl(26, 81%, 42%);
  --bc-formColor: hsl(0, 0%, 84%);
  --bc-postColor: hsl(0, 0%, 76%);
  --ff-font-title: 'Bebas Neue', cursive;
  --ff-font-ezra-light: 'Ezra-light', cursive;
  --ff-font-ezra-medium: 'Ezra-medium', cursive;
  --ff-font-ezra-bold: 'Ezra-bold', cursive;
  --ff-font-ezra-black: 'Ezra-black', cursive;
}

@font-face { /* Ezra light */
  font-family: 'Ezra-light';
  src: url(../fonts/Ezra-Light.ttf) format('truetype');
}
@font-face { /* Ezra medium */
  font-family: 'Ezra-medium';
  src: url(../fonts/Ezra-Medium.ttf) format('truetype');
}
@font-face { /* Ezra bold */
  font-family: 'Ezra-bold';
  src: url(../fonts/Ezra-Bold.ttf) format('truetype');
}
@font-face { /* Ezra black */
  font-family: 'Ezra-black';
  src: url(../fonts/Ezra-Black.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.hold-body {
  overflow: hidden;
}

/* ########## end general styles ########## */
/* ########## start header styles ########## */

.scroll-header {
  background-color: transparent;
}

header {
  font-family: var(--ff-font-title);
  font-size: 2.0rem;
  font-weight: 100;
  background-color: var(--cc-orange-primary);
  height: 12.0rem;
}

.header svg {
  display: none;
}

.box-nav-menu {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 2.5rem 3.5rem;
}

.box-nav-menu a svg:nth-child(2) {
  display: none;
}

header a  img {
  width: 80%;
}

.openMenu,
.closeMenu {
  background: transparent;
  border: 0;
}

.nav-bar {
  background-color: var(--cc-orange-primary);

  position: absolute;
  top: 11.9rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 9.5rem;
}

.nav-bar ul {
  display: flex;
  align-items: center;
}

.nav-bar ul:nth-child(1) {
  flex-direction: column;
  gap: 3.5rem;

  margin-top: 9.5rem;
}

.nav-bar ul:nth-child(2) {
  flex-direction: row;
  gap: 5.5rem;
}

.social-links {
  flex-direction: row;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #000;
}

.menu-expanded {
  display: none;
}

.logo-expanded {
  position: absolute;
  top: 2.5rem;
  left: 3.5rem;

  z-index: 2;
}

.iconMenu-expanded {
  position: absolute;
  top: 4.0rem;
  right: 3.5rem;

  z-index: 2;
}


/* ########## end header styles ########## */
/* ########## start main styles ########## */
.newsletter {
  width: 71.08%;

  margin: 0 auto 8.0rem;
}

.newsletter-image {
  background-color: var(--cc-orange-primary);

  height: 25.5rem;
}

.newsletter-image img {
  width: 31.7rem;

  position: relative;
  top: -2.5rem;
  left: -1.5rem;
}

.newsletter-form {
  background-color: var(--cc-grey);

  padding: 2.5rem 2.1rem 1.8rem;
}

.inputs-form {
  display: flex;
  flex-direction: column;
  gap: .9rem;
}

.newsletter-form fieldset {
  border: none;
}

.newsletter-form legend {
  font-family: var(--ff-font-ezra-medium);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.02em;

  text-align: center;

  color: #FFFFFF;

  margin-bottom: 1.8rem;
}

.newsletter-form p {
  display: none;
}

.inputs-form input {
  width: 100%;
  height: 2.4rem;
  border-radius: 8px;
  border: 0;

  padding-left: 2.0rem;

  font-family: var(--ff-font-ezra-light);
  font-size: 1.1rem;
}

#btn-submit {
  border: 0;

  color: #FFFFFF;
  background-color: var(--cc-orange-dark);

  margin: 0;
  padding: 0;

  cursor: pointer;

  font-family: var(--ff-font-ezra-bold);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
}

.information-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  margin: 0 auto 14.0rem;
  border-radius: 1.5rem;
  border: 5px solid var(--cc-orange-primary);

  gap: 4.4rem;


  max-width: 30.3rem;
}

.internal-information-box {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.0rem;

  margin-inline: 2.2rem;
}

.internal-information-box:nth-child(1) {
  margin-top: 3.3rem;
}

.internal-information-box:nth-child(3) {
  margin-bottom: 3.3rem;
}

.internal-information-box a:hover {
  transform: scale(1.20, 1.20);
  transition: 200ms;
}

.internal-information-box a circle:hover {
  fill: var(--cc-green-primary);
}

.internal-information-box h3{
  font-family: var(--ff-font-title);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.9rem;

  color: #000000;
}
.internal-information-box p {
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-family: var(--ff-font-ezra-light);

  text-decoration: none;

  color: #000000;
}

.info {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-family: var(--ff-font-title);
  font-size: 5.5rem;
  font-weight: 100;
  line-height: 6.6rem;

  letter-spacing: -0.02em;

  color: var(--cc-orange-primary);

  text-align: center;
}

.soft-line {
  border: 1px solid #717171;

  width: 82.40%;

  margin: 0 auto 3.2rem;
}
/* ########## end main styles ########## */
/* ########## start footer styles ########## */

footer {
  background-color: var(--cc-orange-primary);
  height: 8.0rem;

  padding: 2.0rem;
}
footer p {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;

  color: #FFFFFF;

  width: 90%;
}

.backToTopButton {
  position: fixed;
  bottom: 1.0rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;
  
  transform: translateY(100%);
  transition: 200ms;

  z-index: 20;
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* ########## end footer styles ########## */
/* ########## start styles of article pages ########## */
.letter h1 {
  font-family: var(--ff-font-title);
  color: var(--cc-orange-primary);
  font-size: 6.4rem;
  line-height: 7.7rem;

  letter-spacing: -0.02em;
}

.letter p {
  text-align: justify;
  text-indent: 4em;

  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
  font-family: var(--ff-font-ezra-light);
  font-weight: 100;
}

.letter blockquote {
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
  font-family: var(--ff-font-ezra-light);

  text-align: justify;
}

blockquote {
  margin-left: 4em;
}

blockquote strong {
  font-family: var(--ff-font-ezra-bold);
}
/* ########## end styles of article pages ##########*/

@media(min-width: 1280px) {

  .hide {
    display: block;
  }

  .orange-bar {
    width: 100%;
    height: 2.6rem;
    padding: 0 8.4rem;
  
    background-color: var(--cc-orange-primary);
  
    display: flex;
  }

  .external-link .contact {
    font-family: 'Inter', sans-serif;
  
    text-decoration: none;
    font-weight: bold;
  
    font-size: 9px;
  
    color: var(--cc-green-primary);
  }

  .external-link {
    display: flex;
    justify-content: space-between;
  
    margin: 0 auto;
  
    width: 100%;
  }

  .box {
    display: flex;
    align-items: center;
    gap: 1.0rem;
  }

  header {
    height: 13.8rem;
  }

  .box-nav-menu {
    padding: 2.0rem 8.4rem;
    align-items: center;
  }

  .box-nav-menu button {
    display: none;
  }

  .box-nav-menu a svg:first-child {
    display: none;
  }

  header .box-nav-menu a svg:nth-child(2) {
    display: block;
  }

  .nav-bar {
    background-color: transparent;
    position: static;
    width: fit-content;
  }

  .nav-bar ul:nth-child(1) {
    flex-direction: row;
    margin: 0;
  }

  .nav-bar ul:nth-child(2) {
    display: none;
  }

  .menu-expanded {
    display: block;
  }

  .nav-bar ul li a:hover {
    font-weight: 900;
    font-size: 2.2rem;

    color: black;
    transition: 200ms;
  }

  .newsletter {
    display: flex;
    justify-content: center;

    margin: 0 auto 17.3rem;
  }

  .newsletter .newsletter-image {
    width: 34.5rem;
    height: 31.3rem;
  }

  .newsletter-image img {
    width: 41.3rem;

    top: -3.3rem;
    left: -6.0rem;
  }

  .newsletter-form legend {
    font-family: var(--ff-font-title);
    font-size: 3.27rem;
    line-height: 3.9rem;
    letter-spacing: -0.02em;
  
    color: #FFFFFF;
  
    margin-bottom: 3px;

    text-align: start;
  }

  .inputs-form {
    gap: 1.5rem;
  }
  
  .newsletter .newsletter-form {
    width: 52.0rem;
    height: 31.3rem;

    padding: 3.0rem 3.4rem 3.2rem;
  }
  
  .newsletter-form p {
    font-family: var(--ff-font-ezra-light);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3.2rem;

    color: #FFFFFF;

    margin-bottom: 1.1rem;

    display: block;
  }

  .inputs-form input {
    height: 4.5rem;
    border-radius: 5px;
    border: 0;
  
    padding-left: 2.0rem;
  
    font-family: var(--ff-font-ezra-light);
    font-size: 1.4rem;
  }

  #btn-submit {
    border: 0;
  
    color: #FFFFFF;
    background-color: var(--cc-orange-dark);
  
    margin: 0;
    padding: 0;
  
    cursor: pointer;
  
    font-family: var(--ff-font-ezra-bold);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  #btn-submit:hover {
    background-color: var(--cc-btn-submit-hover);
  }

  .content-information-box {
    display: flex;
    justify-content: center;
  }

  .information-box {
    flex-direction: row;
    
    padding: 2.0rem 4.0rem 1.37rem;
    margin: 0 auto 23rem;

    max-width: 97.7rem;
  }

  .internal-information-box {
    height: 11.4rem;
    margin: 0;
  }

  .internal-information-box:nth-child(1) {
    margin-top: 0;
  }

  .internal-information-box:nth-child(3) {
    margin-bottom: 0;
  }

  .info {
    height: 100%;
  }

  footer {
    
    height: 9.9rem;
    width: 100%;
    padding: 3.7rem 8.3rem;
  }

  footer p {
    font-size: 2.0rem;
    letter-spacing: -0.02em;
  }

  /* ########## start styles of article pages ########## */
  .letter {
    position: absolute;
    top: 32.6rem;
    left: 50%;

    transform: translateX(-50%);
  }

  .letter h1 {
    margin-bottom: 7.5rem;
  }

  .letter img {
    width: 92.7rem;
    height: 62.7rem;

    margin-bottom: 9.5rem;
  }

  .text-letter {
    width: 91.3rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .text-letter h2 {
    margin-bottom: 5.0rem;
  }

  .text-letter p {
    line-height: 3.2rem;
    width: 100%;
  }
  /* ########## end styles of article pages ########## */
}