/* ########## start general styles ########## */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --cc-orange-primary: hsl(39, 93%, 52%);
  --cc-orange-dark: hsl(26, 91%, 47%);
  --cc-orange-light: hsl(34, 92%, 45%);
  --cc-green-primary: hsl(118, 39%, 25%);
  --cc-dark: 	hsl(0, 0%, 0%);
  --cc-grey: hsl(0, 0%, 16%);
  --cc-btn-submit-hover: hsl(26, 81%, 42%);
  --bc-formColor: hsl(0, 0%, 84%);
  --ff-font-title: 'Bebas Neue', cursive;
  --ff-font-ezra-light: 'Ezra-light', cursive;
  --ff-font-ezra-medium: 'Ezra-medium', cursive;
  --ff-font-ezra-bold: 'Ezra-bold', cursive;
  --ff-font-ezra-black: 'Ezra-black', cursive;
}

@font-face { /* Ezra light */
  font-family: 'Ezra-light';
  src: url(../fonts/Ezra-Light.ttf) format('truetype');
}
@font-face { /* Ezra medium */
  font-family: 'Ezra-medium';
  src: url(../fonts/Ezra-Medium.ttf) format('truetype');
}
@font-face { /* Ezra bold */
  font-family: 'Ezra-bold';
  src: url(../fonts/Ezra-Bold.ttf) format('truetype');
}
@font-face { /* Ezra black */
  font-family: 'Ezra-black';
  src: url(../fonts/Ezra-Black.ttf) format('truetype');
}

.hide {
  display: none;
}

/* ########## end general styles ########## */
/* ########## start header styles ########## */

header {
  font-family: var(--ff-font-title);
  font-size: 2.0rem;
  font-weight: 100;
  background-color: var(--cc-orange-primary);
  height: 12vh;
  
  display: flex;
  justify-content: center;
}

.header svg {
  display: none;
}

.box-nav-menu {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 2.5rem 3.5rem;
}

.box-nav-menu a svg:nth-child(2) {
  display: none;
}

header a  img {
  width: 80%;
}

header nav ul li a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

header nav ul li a:hover {
  opacity: 0.7;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {

  margin-left: 32px;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #717171;
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* ########## end header styles ########## */
/* ########## start main styles ########## */
.newsletter {
  width: 71.08%;

  margin: 0 auto 8.0rem;
}

.newsletter-image {
  background-color: var(--cc-orange-primary);

  height: 25.5rem;
}

.newsletter-image img {
  width: 31.7rem;

  position: relative;
  top: -2.5rem;
  left: -1.5rem;
}

.newsletter-form {
  background-color: var(--cc-grey);

  padding: 2.5rem 2.1rem 1.8rem;
}

.inputs-form {
  display: flex;
  flex-direction: column;
  gap: .9rem;
}

.newsletter-form fieldset {
  border: none;
}

.newsletter-form legend {
  font-family: var(--ff-font-ezra-medium);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.02em;

  text-align: center;

  color: #FFFFFF;

  margin-bottom: 1.8rem;
}

.newsletter-form p {
  display: none;
}

.inputs-form input {
  width: 100%;
  height: 2.4rem;
  border-radius: 8px;
  border: 0;

  padding-left: 2.0rem;

  font-family: var(--ff-font-ezra-light);
  font-size: 1.1rem;
}

#btn-submit {
  border: 0;

  color: #FFFFFF;
  background-color: var(--cc-orange-dark);

  margin: 0;
  padding: 0;

  cursor: pointer;

  font-family: var(--ff-font-ezra-bold);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
}

.information-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  width: 71.08%;

  margin: 0 auto 14.0rem;
  padding: 3.0rem 2.0rem;
  border-radius: 1.5rem;
  border: 5px solid var(--cc-orange-primary);

  gap: 4.4rem;
}

.internal-information-box {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.0rem;
}

.internal-information-box h3{
  font-family: var(--ff-font-title);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.9rem;

  color: #000000;
}
.internal-information-box p {
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-family: var(--ff-font-ezra-light);
}

.section-title {
  font-family: var(--ff-font-title);
  font-size: 5.5rem;
  font-weight: 100;
  line-height: 6.6rem;

  letter-spacing: -0.02em;

  color: var(--cc-orange-primary);

  text-align: center;
}

.soft-line {
  border: 1px solid #717171;

  width: 82.40%;

  margin: 0 auto 3.2rem;
}
/* ########## end main styles ########## */
/* ########## start footer styles ########## */

footer {
  background-color: var(--cc-orange-primary);
  height: 8.0rem;

  padding: 2.0rem;
}
footer p {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;

  color: #FFFFFF;

  width: 90%;
}

/* ########## end footer styles ########## */

@media (max-width: 999px) {

  html, body {
    overflow-x: hidden;
    position: relative;
  }

  .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: var(--cc-orange-primary);
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
  }

  .nav-list li {
    margin: 0;
    opacity: 0;
    z-index: 6;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0);
  }
}

@media(min-width: 1000px) {

  .hide {
    display: block;
  }

  .orange-bar {
    width: 100%;
    height: 2.6rem;
    padding: 0 8.4rem;
  
    background-color: var(--cc-orange-primary);
  
    display: flex;
  }

  .external-link .contact {
    font-family: 'Inter', sans-serif;
  
    text-decoration: none;
    font-weight: bold;
  
    font-size: 9px;
  
    color: var(--cc-green-primary);
  }

  .external-link {
    display: flex;
    justify-content: space-between;
  
    margin: 0 auto;
  
    width: 100%;
  }

  .box {
    display: flex;
    align-items: center;
    gap: 1.0rem;
  }

  header {
    height: 13.8rem;
  }

  header .box-nav-menu {
    padding: 2.0rem 8.4rem;
  }

  .header svg {
    display: block;
  }

  .header svg:nth-child(1) {
    position: absolute;
    left: 15.3rem;
    top: 24.3rem;
  }

  .header svg:nth-child(2) {
    position: absolute;
    left: 24.3rem;
    top: 24.8rem;
  }

  .box-nav-menu a svg:first-child {
    display: none;
  }

  header .box-nav-menu a svg:nth-child(2) {
    display: block;
  }

  .newsletter {
    display: flex;
    justify-content: center;

    margin: 0 auto 17.3rem;
  }

  .newsletter .newsletter-image {
    width: 34.5rem;
    height: 31.3rem;
  }

  .newsletter-image img {
    width: 41.3rem;

    top: -3.3rem;
    left: -6.0rem;
  }

  .newsletter-form legend {
    font-family: var(--ff-font-title);
    font-size: 3.27rem;
    line-height: 3.9rem;
    letter-spacing: -0.02em;
  
    color: #FFFFFF;
  
    margin-bottom: 3px;

    text-align: start;
  }

  .inputs-form {
    gap: 1.5rem;
  }
  
  .newsletter .newsletter-form {
    width: 52.0rem;
    height: 31.3rem;

    padding: 3.0rem 3.4rem 3.2rem;
  }
  
  .newsletter-form p {
    font-family: var(--ff-font-ezra-light);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3.2rem;

    color: #FFFFFF;

    margin-bottom: 1.1rem;

    display: block;
  }

  .inputs-form input {
    height: 4.5rem;
    border-radius: 5px;
    border: 0;
  
    padding-left: 2.0rem;
  
    font-family: var(--ff-font-ezra-light);
    font-size: 1.4rem;
  }

  #btn-submit {
    border: 0;
  
    color: #FFFFFF;
    background-color: var(--cc-orange-dark);
  
    margin: 0;
    padding: 0;
  
    cursor: pointer;
  
    font-family: var(--ff-font-ezra-bold);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  #btn-submit:hover {
    background-color: var(--cc-btn-submit-hover);
  }

  .content-information-box {
    display: flex;
    justify-content: center;
  }

  .information-box {
    flex-direction: row;
    
    padding: 2.0rem 4.0rem 1.37rem;
    margin: 0 auto 23rem;

    width: 97.7rem;

    position: absolute;
  }

  footer {
    position: absolute;
    
    height: 9.9rem;
    width: 100%;
    padding: 3.7rem 8.3rem;
  }

  footer p {
    font-size: 2.0rem;
    letter-spacing: -0.02em;
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}