.header {
  background-image: url(../images/header-zfm.png);
  background-size: cover;
  width: 100%;
  height: 11.1rem;

  margin-bottom: 7.1rem;
}

main h1 {
  font-size: 5.5rem;
  font-family: var(--ff-font-title);
  color: var(--cc-orange-primary);

  letter-spacing: -0.02em;
  line-height: 6.6rem;

  text-align: center;

  width: 80%;
  max-width: 26.5rem;
  margin: 0 auto 5.5rem;
}

main svg {
  margin-bottom: 5.5rem;
  width: 100%;
}

.newsletter {
  margin-top: 17.0rem;
}

footer {
  margin-top: 5.0rem;
}

@media (min-width: 1280px){
  header {
    background-color: #FFFFFF;
  }

  .header {
    height: 23.5rem;
  }
}