.header {
  background-image: url(../images/header-zfm.png);
  background-size: cover;
  width: 100%;
  height: 11.1rem;

  margin-bottom: 7.1rem;
}

main h1 {
  font-size: 5.5rem;
  font-family: var(--ff-font-title);
  color: var(--cc-orange-primary);

  letter-spacing: -0.02em;
  line-height: 6.6rem;

  text-align: center;

  width: 80%;
  max-width: 26.5rem;
  margin: 0 auto 5.5rem;
}

.zfm-desktop {
  display: none;
}

.zfm-mobile {
  display: flex;
  flex-direction: column;

  gap: 5.5rem;
}

.zfm-mobile svg:nth-child(2) {
  align-self: flex-end;
}


.newsletter {
  margin-top: 17.0rem;
}

footer {
  margin-top: 5.0rem;
}

@media (min-width: 1280px){
  header {
    background-color: #FFFFFF;
  }

  .header {
    height: 23.5rem;
    margin-bottom: 9.0rem;
  }

  main h1 {
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: left;

    max-width: 100.0rem;
  }

  .zfm-mobile {
    display: none;
  }

  .zfm-desktop {
    display: flex;
    flex-direction: column;

    gap: 7.0rem;
    margin: 0 auto 27.7rem;
    max-width: 198.0rem;
  }

  .zfm-desktop svg:nth-child(2) {
    align-self: flex-end;
  }
}